# directories
build/
doc/
Gliese/
CMakeFiles/
lib/
.cache/
compile_commands.json

# files
layer/Communication/Doxyfile_CM_API
layer/DataType/Doxyfile_DataType_API
layer/ExecutionLibrary/Doxyfile_Execution_API
layer/GlieseLibrary/ODBC/Doxyfile_ODBC_API
layer/GlieseTool/Doxyfile_ZT_API
layer/Kernel/Doxyfile_Kernel_API
layer/ServerCommunication/Doxyfile_ServerCommunication_API
layer/ServerLibrary/Doxyfile_ServerLibrary_API
layer/Session/Doxyfile_Session_API
layer/SqlProcessor/Doxyfile_SqlProcessor_API
layer/Standard/Doxyfile_Standard_API
layer/StorageManager/Doxyfile_SM_API
layer/Communication/dev/include/cmlRowStatusDef.h
layer/ExecutionLibrary/dev/include/ellCursorDef.h
layer/ExecutionLibrary/dev/include/ellSuppLogDef.h
layer/GlieseLibrary/ODBC/dev/include/goldilocks.h
layer/GlieseLibrary/ODBC/dev/include/sql.h
layer/GlieseLibrary/ODBC/dev/include/sqlext.h
layer/GlieseLibrary/ODBC/dev/include/sqltypes.h
layer/GlieseLibrary/ODBC/dev/include/sqlucode.h
layer/GlieseLibrary/ODBC/dev/include/xa.h
layer/GlieseLibrary/ODBC/dev/include/zllConstDef.h
layer/GlieseLibrary/ODBC/dev/include/zllCursorDef.h
layer/GlieseLibrary/ODBC/dev/include/zllRowStatusDef.h
layer/GlieseTool/cyclone/dev/include/ztcClassDef.h
layer/GlieseTool/cyclone/dev/include/ztcColumnDef.h
layer/GlieseTool/cyclone/dev/include/ztcDdlSuppLogDef.h
layer/GlieseTool/cyclone/dev/include/ztcLogDef.h
layer/GlieseTool/cyclone/dev/include/ztcRowDef.h
layer/GlieseTool/cyclone/dev/include/ztcSuppLogDef.h
layer/GlieseTool/cyclonem/dev/include/ztcClassDef.h
layer/GlieseTool/cyclonem/dev/include/ztcColumnDef.h
layer/GlieseTool/cyclonem/dev/include/ztcDdlSuppLogDef.h
layer/GlieseTool/cyclonem/dev/include/ztcLogDef.h
layer/GlieseTool/cyclonem/dev/include/ztcRowDef.h
layer/GlieseTool/cyclonem/dev/include/ztcSuppLogDef.h
layer/GlieseTool/gpec/dev/src/include/ztpSqlLex.h
layer/GlieseTool/gpec/dev/src/ztp/ztpSql.l
layer/GlieseTool/gpec/dev/src/ztp/ztpSql.y
layer/GlieseTool/gsql/dev/src/include/ztqSqlLex.h
layer/GlieseTool/gsql/dev/src/ztqSql.l
layer/GlieseTool/gsql/dev/src/ztqSql.y
layer/GlieseTool/gsyncher/dev/include/ztyClassDef.h
layer/GlieseTool/LogMirror/dev/include/ztrLogDef.h
layer/GlieseTool/LogMirror/dev/include/ztrLogMirrorDef.h
layer/Kernel/dev/src/knp/knpPropertyParser.c
layer/Session/dev/include/sslConstDef.h
layer/SqlProcessor/dev/include/qllRowStatusDef.h
layer/SqlProcessor/dev/src/include/qlpParser.tab.h
layer/SqlProcessor/dev/src/include/qlpParserLex.h
layer/SqlProcessor/dev/src/qlp/qlpParser.l
layer/SqlProcessor/dev/src/qlp/qlpParser.tab.c
layer/SqlProcessor/dev/src/qlp/qlpParser.y
layer/SqlProcessor/dev/src/qlp/qlpParser.yy.c
layer/Standard/dev/include/stlProduct.h
layer/Standard/dev/include/stlTypes.h
layer/Standard/dev/src/include/stc.h
layer/StorageManager/dev/include/smlSuppLogDef.h
layer/StorageManager/dev/src/include/smgClassDef.h
layer/StorageManager/dev/src/include/smpColumnDef.h
layer/StorageManager/dev/src/include/smrLogDef.h
layer/StorageManager/dev/src/include/smrLogMirrorDef.h
layer/StorageManager/dev/src/smd/include/smdmpfRowDef.h
layer/StorageManager/dev/src/smd/include/smdmphRowDef.h
CMakeCache.txt
cmake_install.cmake
Makefile
CPackConfig.cmake
CPackSourceConfig.cmake
layer/GlieseTool/cyclone/dev/src/ztcf/ztcfConfigure.tab.c
layer/GlieseTool/cyclone/dev/src/ztcf/ztcfConfigure.yy.c
layer/GlieseTool/cyclonem/dev/include/ztcfConfigure.tab.h
layer/GlieseTool/cyclonem/dev/src/ztcf/ztcfConfigure.tab.c
layer/GlieseTool/cyclonem/dev/src/ztcf/ztcfConfigure.yy.c
layer/GlieseTool/cymon/dev/include/ztnfConfigure.tab.h
layer/GlieseTool/cymon/dev/src/ztnf/ztnfConfigure.tab.c
layer/GlieseTool/cymon/dev/src/ztnf/ztnfConfigure.yy.c
layer/GlieseTool/cymonm/dev/include/ztnfConfigure.tab.h
layer/GlieseTool/cymonm/dev/src/ztnf/ztnfConfigure.tab.c
layer/GlieseTool/cymonm/dev/src/ztnf/ztnfConfigure.yy.c
layer/GlieseTool/ErrorViewing/dev/bin/ErrorViewing.jar
layer/GlieseTool/gloader/dev/src/include/ztdCmd.tab.h
layer/GlieseTool/gloader/dev/src/ztdCmd.tab.c
layer/GlieseTool/gloader/dev/src/ztdCmd.yy.c
layer/GlieseTool/gpec/dev/src/include/ztpCMin.tab.h
layer/GlieseTool/gpec/dev/src/include/ztpfIncludeFile.tab.h
layer/GlieseTool/gpec/dev/src/include/ztpfPath.tab.h
layer/GlieseTool/gpec/dev/src/include/ztpSql.tab.h
layer/GlieseTool/gpec/dev/src/include/ztpvCVar.tab.h
layer/GlieseTool/gpec/dev/src/ztp/ztpCMin.tab.c
layer/GlieseTool/gpec/dev/src/ztp/ztpCMin.yy.c
layer/GlieseTool/gpec/dev/src/ztp/ztpSql.tab.c
layer/GlieseTool/gpec/dev/src/ztp/ztpSql.yy.c
layer/GlieseTool/gpec/dev/src/ztpf/ztpfIncludeFile.tab.c
layer/GlieseTool/gpec/dev/src/ztpf/ztpfIncludeFile.yy.c
layer/GlieseTool/gpec/dev/src/ztpf/ztpfPath.tab.c
layer/GlieseTool/gpec/dev/src/ztpf/ztpfPath.yy.c
layer/GlieseTool/gpec/dev/src/ztpv/ztpvCVar.tab.c
layer/GlieseTool/gpec/dev/src/ztpv/ztpvCVar.yy.c
layer/GlieseTool/gsql/dev/src/ztqCmd.tab.c
layer/GlieseTool/gsql/dev/src/ztqCmd.yy.c
layer/GlieseTool/gsql/dev/src/ztqSql.tab.c
layer/GlieseTool/gsql/dev/src/ztqSql.yy.c
layer/GlieseTool/LogMirror/dev/include/ztrcConfigure.tab.h
layer/GlieseTool/LogMirror/dev/src/ztrc/ztrcConfigure.tab.c
layer/GlieseTool/LogMirror/dev/src/ztrc/ztrcConfigure.yy.c
layer/GlieseTool/cyclone/dev/include/ztcfConfigure.tab.h
layer/GlieseTool/gsql/dev/src/include/ztqCmd.tab.h
layer/GlieseTool/gsql/dev/src/include/ztqSql.tab.h