# directories
build/
doc/
Gliese/

# files
layer/Communication/Doxyfile_CM_API
layer/DataType/Doxyfile_DataType_API
layer/ExecutionLibrary/Doxyfile_Execution_API
layer/GlieseLibrary/ODBC/Doxyfile_ODBC_API
layer/GlieseTool/Doxyfile_ZT_API
layer/Kernel/Doxyfile_Kernel_API
layer/ServerCommunication/Doxyfile_ServerCommunication_API
layer/ServerLibrary/Doxyfile_ServerLibrary_API
layer/Session/Doxyfile_Session_API
layer/SqlProcessor/Doxyfile_SqlProcessor_API
layer/Standard/Doxyfile_Standard_API
layer/StorageManager/Doxyfile_SM_API
layer/Communication/dev/include/cmlRowStatusDef.h
layer/ExecutionLibrary/dev/include/ellCursorDef.h
layer/ExecutionLibrary/dev/include/ellSuppLogDef.h
layer/GlieseLibrary/ODBC/dev/include/goldilocks.h
layer/GlieseLibrary/ODBC/dev/include/sql.h
layer/GlieseLibrary/ODBC/dev/include/sqlext.h
layer/GlieseLibrary/ODBC/dev/include/sqltypes.h
layer/GlieseLibrary/ODBC/dev/include/sqlucode.h
layer/GlieseLibrary/ODBC/dev/include/xa.h
layer/GlieseLibrary/ODBC/dev/include/zllConstDef.h
layer/GlieseLibrary/ODBC/dev/include/zllCursorDef.h
layer/GlieseLibrary/ODBC/dev/include/zllRowStatusDef.h
layer/GlieseTool/cyclone/dev/include/ztcClassDef.h
layer/GlieseTool/cyclone/dev/include/ztcColumnDef.h
layer/GlieseTool/cyclone/dev/include/ztcDdlSuppLogDef.h
layer/GlieseTool/cyclone/dev/include/ztcLogDef.h
layer/GlieseTool/cyclone/dev/include/ztcRowDef.h
layer/GlieseTool/cyclone/dev/include/ztcSuppLogDef.h
layer/GlieseTool/cyclonem/dev/include/ztcClassDef.h
layer/GlieseTool/cyclonem/dev/include/ztcColumnDef.h
layer/GlieseTool/cyclonem/dev/include/ztcDdlSuppLogDef.h
layer/GlieseTool/cyclonem/dev/include/ztcLogDef.h
layer/GlieseTool/cyclonem/dev/include/ztcRowDef.h
layer/GlieseTool/cyclonem/dev/include/ztcSuppLogDef.h
layer/GlieseTool/gpec/dev/src/include/ztpSqlLex.h
layer/GlieseTool/gpec/dev/src/ztp/ztpSql.l
layer/GlieseTool/gpec/dev/src/ztp/ztpSql.y
layer/GlieseTool/gsql/dev/src/include/ztqSqlLex.h
layer/GlieseTool/gsql/dev/src/ztqSql.l
layer/GlieseTool/gsql/dev/src/ztqSql.y
layer/GlieseTool/gsyncher/dev/include/ztyClassDef.h
layer/GlieseTool/LogMirror/dev/include/ztrLogDef.h
layer/GlieseTool/LogMirror/dev/include/ztrLogMirrorDef.h
layer/Kernel/dev/src/knp/knpPropertyParser.c
layer/Session/dev/include/sslConstDef.h
layer/SqlProcessor/dev/include/qllRowStatusDef.h
layer/SqlProcessor/dev/src/include/qlpParser.tab.h
layer/SqlProcessor/dev/src/include/qlpParserLex.h
layer/SqlProcessor/dev/src/qlp/qlpParser.l
layer/SqlProcessor/dev/src/qlp/qlpParser.tab.c
layer/SqlProcessor/dev/src/qlp/qlpParser.y
layer/SqlProcessor/dev/src/qlp/qlpParser.yy.c
layer/Standard/dev/include/stlProduct.h
layer/Standard/dev/include/stlTypes.h
layer/Standard/dev/src/include/stc.h
layer/StorageManager/dev/include/smlSuppLogDef.h
layer/StorageManager/dev/src/include/smgClassDef.h
layer/StorageManager/dev/src/include/smpColumnDef.h
layer/StorageManager/dev/src/include/smrLogDef.h
layer/StorageManager/dev/src/include/smrLogMirrorDef.h
layer/StorageManager/dev/src/smd/include/smdmpfRowDef.h
layer/StorageManager/dev/src/smd/include/smdmphRowDef.h
